* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
body {
  font-family: "Josefin", sans-serif;
  color: rgb(63, 60, 60);
}
button {
  font-family: "Josefin", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}
.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(219, 211, 211);
  overflow: hidden;
}
/* color column */
.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.1s ease;
}
.color.locked {
  animation: 0.3s locked;
}
.color.locked.colorShake {
  animation: 0.3s colorShake;
}
.color.locked button.lock {
  animation: beatingLock 2s ease-in-out infinite,
    translateLock 0.5s ease-in-out alternate 2;
}
.color button.lock.unlocked {
  animation: unlock 0.5s ease-in-out;
}
.color h2 {
  font-size: 3vw;
  cursor: copy;
  transition: all 0.3s ease;
}
.color h2:hover {
  transform: scale(1.2);
}
/* controls in color column */
.controls {
  display: flex;
  flex-direction: column;
}
.adjust,
.lock {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem 0rem;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.adjust:hover,
.lock:hover {
  transform: scale(1.5);
}
/* SLIDERS comming from the bottom */
.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: white;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  transform: translateY(300px) rotate(-90deg) scale(0.5);
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 10;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
  /* parametres suivant a ajouter pour les téléphone */
  /* faire une media queriy */
  /* width: 90vw;
  z-index: 10;
  position: fixed;
  bottom: 20vh;
  left: 5vw; */
}
.sliders button,
.close-save {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: rgb(83, 78, 73);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
input[type="range"] {
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}
/* PANEL at the bottom of the window */
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}
.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(73, 70, 70);
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.panel p {
  font-size: 1.2rem;
}
.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* POPUP CONTAINERS */
/* background */
.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.418);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.7s ease;
  z-index: 20;
}
.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
  z-index: 20;
}
/* popup */
.copy-popup,
.save-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  min-width: 30%;
  min-height: 30vh;
  transition: transform 0.7s ease;
  transform: translateY(-5rem);
}
.library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  min-width: 30%;
  max-width: 80vw;
  min-height: 15vh;
  max-height: 50vh;
  transition: transform 0.7s ease;
  transform: translateY(-5rem);
  overflow: scroll;
  scrollbar-width: none;
}
.library-popup::-webkit-scrollbar {
  display: none;
}
.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem) scale(1.2);
}
.copy-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}
.save-popup h4 {
  padding: 1rem;
}
.library-popup h4 {
  flex: 0;
  margin: 1rem 2rem;
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
}
.palettes-container {
  display: flex;
  width: 70vw;
  transition: all 0.5s ease-out;
}
.palettes-container:hover {
  background-color: rgb(199, 199, 199);
}
.palettes-container span {
  flex: 1;
  font-size: 4vw;
  padding-left: 1rem;
  display: inline-flex;
  align-items: center;
}
.palettes-container div {
  flex: 1;
  min-height: 30px;
  max-width: 7vw;
  margin: 0.25rem 0.1rem;
  transition: all 0.2s ease;
}
/* .palettes-container div:hover {
  transform: scale(1.3);
  margin: 0rem 0.3rem;
} */
.select-minipal,
.delete-minipal {
  flex: 1;
  min-height: 30px;
  max-width: 7vw;
  margin: 0.25rem 0.1rem;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.2s ease;
}
.select-minipal:hover {
  border-radius: 0.2rem;
  background-color: rgb(65, 65, 65);
  /* transform: scale(1.3); */
  /* margin: 0rem 0.3rem; */
  color: rgb(11, 238, 11);
}
.delete-minipal:hover {
  border-radius: 0.2rem;
  background-color: rgb(65, 65, 65);
  /* transform: scale(1.3); */
  /* margin: 0rem 0.3rem; */
  color: rgb(247, 26, 26);
}
.close-library {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: rgb(83, 78, 73);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.save-name {
  border: none;
  background-color: rgb(219, 219, 219);
  border-radius: 0;
  color: black;
  padding: 1rem;
  font-family: "Josefin", sans-serif;
  font-size: 1rem;
  max-width: 80%;
}
.save-name.incomplete {
  animation: incomplete 0.3s ease-in-out;
}

/* ANIMATIONS */

@keyframes incomplete {
  from {
    transform: translateX(0rem) scale(1);
    background-color: rgb(224, 114, 114);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  to {
    transform: scale(1);
  }
}

@keyframes colorShake {
  from {
    transform: translateX(0rem) scale(1);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  to {
    transform: scale(1);
  }
}
@keyframes locked {
  from {
    transform: scale(1);
    background-color: rgb(110, 109, 109);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes beatingLock {
  from {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes translateLock {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes unlock {
  from {
    transform: translateX(0rem) scale(1);
    color: rgb(189, 188, 188);
  }
  25% {
    transform: rotate(30deg);
    color: rgb(46, 45, 45);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  to {
    transform: scale(1);
  }
}

/* MEDIA */

@media (max-width: 750px) {
  .sliders.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
    /* parametres suivant a ajouter pour les téléphone */
    /* faire une media queriy */
    width: 90vw;
    z-index: 10;
    position: fixed;
    bottom: 20vh;
    left: 5vw;
  }
}
